<div onclick="myFunction()" id="pingpong" style="border-color:blue; padding:1px; margin-left: 10%; width:80%; background-color:aqua; height:600px; overflow: scroll;">
    <ul class="list-group">
      {{#each listItems as |person|}}
        <li class="list-group-item">Hello, {{person.name}}!</li>
      {{/each}}
    </ul>
    Loading Please Wait..
</div>